.content{
  @include justify(center);
  height: 100vh;

  .converter{
    background: rgb(96,96,96);
    background: linear-gradient(270deg, rgba(96,96,96,1) 0%, rgb(111, 110, 110) 40%);
    color: white;
    box-shadow: 1px 1px 10px 2px rgba(245, 245, 245, 0.50);
    height: 300px;
    width: 500px;
    border-radius: 40px;
    padding: 25px 50px;
    display: none;
    gap: 10px;
    transform: translateX(500px);
    opacity: 0;
    transition: 0.3s ease;

    h2{
      font: bold 1.7rem $font2;
    }

    input{
      border: 2px inset $color3;
      color: white;
      background: none;
      border-radius: 10px;
      padding: 10px;
      font-size: 1rem;
      text-transform: capitalize;
      width: 70%;
      place-self: center;
      transition: 0.2s ease;

      &:focus{
        border: 2px outset $color3;
      }
    }

    .submit{
      @include justify(space-evenly);

      span{
        background: rgb(41,37,243);
        background: linear-gradient(90deg, rgba(41,37,243,1) 0%, rgba(80,77,255,1) 50%, rgba(77,173,255,1) 100%);
        height: 43px;
        width: 70px;
        border-radius: 7px;
        cursor: pointer;
        font-size: 1.2rem;
        @include justify(center);
        transition: 0.2s;

        &:hover{
          transform: scale(110%);
        }
        &:active{
          background: rgb(41,37,243);
          background: linear-gradient(270deg, rgba(41,37,243,1) 0%, rgba(80,77,255,1) 50%, rgba(77,173,255,1) 100%);
        }
      }

      button{
        background: rgb(41,37,243);
        background: linear-gradient(90deg, rgba(41,37,243,1) 0%, rgba(80,77,255,1) 50%, rgba(77,173,255,1) 100%);
        color: white;
        border-radius: 10px;
        padding: 9px 25px;
        cursor: pointer;
        font-size: 1.2rem;
        border: none;
        transition: 0.2s;

        &:hover{
          transform: scale(110%);
        }
        &:active{
          background: rgb(41,37,243);
          background: linear-gradient(270deg, rgba(41,37,243,1) 0%, rgba(80,77,255,1) 50%, rgba(77,173,255,1) 100%);
        }
      }
    }
    p{
      margin-top: 5px;
      font-size: 1.1rem;
      color: red;
      text-transform: capitalize;
    }
  }
}
