.sidebar{
  position: absolute;
  top: 0;
  left: -320px;
  height: 100vh;
  width: 320px;
  background: rgba(41, 37, 243, 0.7);
  z-index: 4;
  opacity: 0;
  transition: 0.3s ease;

  @media screen and (max-width: 1200px ) {
    opacity: 1;
  }
  .hamburger-menu{
    position: absolute;
    top: 10px;
    left: 330px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s ease;

    .activate{

      &:nth-child(1){
        transform: rotate(45deg)translateY(22px);
      }
      &:nth-child(2){
        opacity: 0;
     }
      &:nth-child(3){
      transform: rotate(-45deg)translateY(-22px);
    }
  }
    span{
      height: 6px;
      width: 55px;
      background: $color4;
      margin: 5px;
      border-radius: 10px;
    }
}
  ul{
    @include justify(space-around);
    flex-direction: column;
    margin-top: 100px;
    height: 40vh;
    padding: 5px;

    li{
      font-size: 1.1rem;
      text-transform: capitalize;
      letter-spacing: 2px;
      cursor: pointer;
      font-family: $font2;

      &::after{
        content: " ";
        position: absolute;
        left: 2%;
        bottom: -5px;
        background: $color4;
        height: 2px;
        width: 96%;
        opacity: 0;
      }

      &:hover{
        transform: scale(110%);
      }

      &:hover::after{
        opacity: 1;
      }
    }
    }
  }

