.sidebar{
  position: absolute;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 300px;
  background: rgba(41, 37, 243, 0.7);
  z-index: 4;
  opacity: 0;

  .hamburger-menu{
    position: absolute;
    top: 15px;
    left: 310px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s ease;

    span{
      height: 7px;
      width: 55px;
      background: $color4;
      margin: 3px;
      border-radius: 10px;
    }
  }

  ul{
    @include justify(space-around);
    flex-direction: column;
    margin-top: 100px;
    height: 50vh;

    li{
      font-size: 1.1rem;
      text-transform: capitalize;
      letter-spacing: 1px;
      cursor: pointer;
      font-family: $font2;
      position: relative;

      &::after{
        content: " ";
        position: absolute;
        left: 5%;
        bottom: -5px;
        background: $color4;
        height: 2px;
        width: 90%;
        opacity: 0;
      }

      &:hover{
        transform: scale(110%);
      }

      &:hover::after{
        opacity: 1;
      }
    }
  }
}